/* Resetowanie marginesów i paddingu dla całej tabeli */
table {
    margin: 0;
    padding: 0;
}

/* Zmniejszenie odstępów między komórkami */
table,
th,
td {
    border-collapse: collapse;
    border: 1px solid black; /* Dodanie obramowania */
    padding: 5px; /* Dostosuj padding według preferencji */
}

/* Ustawienie szerokości dla nagłówka tabeli */
thead th {
    width: auto; /* Możesz dostosować szerokość według potrzeb */
}

/* Stylizacja caption */
caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; /* Dostosuj margines według preferencji */
}

/* Dodanie odstępu między wierszami */
tr {
    line-height: 1.5;
}

/* Dodanie tła i koloru tekstu dla komórek z treścią */
td {
    background-color: #fff; /* Dostosuj kolor tła według preferencji */
    color: #000; /* Dostosuj kolor tekstu według preferencji */
}

/* Stylizacja komórek z nagłówkiem */
th {
    background-color: #f0f0f0; /* Dostosuj kolor tła według preferencji */
    color: #000; /* Dostosuj kolor tekstu według preferencji */
}

/* Dostosowanie stylu dla komórek z dużymi wartościami */
.wss-nb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; /* Dostosuj maksymalną szerokość według preferencji */
}

.css3-conference-day-schedule {
    margin-bottom: 20px;
}

.css3-conference-schedule-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
}

.css3-conference-schedule-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.css3-conference-schedule-time, .css3-conference-schedule-scene, .css3-conference-schedule-empty, .css3-conference-schedule-presentation {
    padding: 10px;
    border: 1px solid #ddd;
}

.css3-conference-schedule-time {
    background-color: #f1f1f1;
}

.css3-conference-schedule-presentation {
    background-color: #ffffff;
    position: relative;
}

.css3-conference-schedule-presentation div {
    border-radius: 10px;
    border: 3px solid #ccc;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .css3-conference-schedule-header,
    .css3-conference-schedule-row {
        grid-template-columns: 1fr;
    }

    .css3-conference-schedule-time, .css3-conference-schedule-scene, .css3-conference-schedule-empty, .css3-conference-schedule-presentation {
        grid-column: 1;
    }
}

/* Styl widoczny tylko na urządzeniach mobilnych */
@media only screen and (max-width: 768px) {
    .display-mobile {
        display: block; /* lub inna wartość, która ma być użyta na mobilnych urządzeniach */
    }
}

/* Styl ukrywający elementy na urządzeniach większych niż mobilne */
@media only screen and (min-width: 769px) {
    .display-mobile {
        display: none;
    }
}
