#plan-ramowy{width:100%;border-collapse: separate;border-spacing: 10px;}
#plan-ramowy tr{}
#plan-ramowy th, #plan-ramowy td {
    padding: 0;
    text-align: center;
}
#plan-ramowy th{width: 10%}
#plan-ramowy th#pr-godzina{
    min-width: 95px;
}
#plan-ramowy td{text-align: center;}

#plan-ramowy td > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
}

#plan-ramowy td[colspan] > div {
    padding: 16px;
}

#plan-ramowy th, #plan-ramowy td {
    transition: all 0.3s ease;
    height: 0;
    transform-origin: center center;
}

#plan-ramowy td:hover, #plan-ramowy th:hover {
    transform-origin: center center;
    backface-visibility: hidden;
    transform: scale(1.05); /* Lekkie powiększenie elementów przy hover */
}

#plan-ramowy td[colspan]:hover > div, #plan-ramowy th:hover {

}
#plan-ramowy th {
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 10px;
}
#plan-ramowy th.wss-nb, #plan-ramowy td.wss-nb {background-color: transparent}
#plan-ramowy th a,#plan-ramowy td a{text-decoration: none;}

.custom-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 1000;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Animacja przejścia */
    pointer-events: none;
}

footer.wp-block-template-part{
    overflow-x: hidden;
}

