#plan-ramowy {
    display: grid;
    grid-template-columns: 100px repeat(8, 1fr); /* First column for timeslots, others for scenes */
    grid-auto-rows: minmax(30px, auto); /* Adjust the row height as needed */
    gap: 10px;
    padding: 20px;
}

#plan-ramowy .day-title {
    grid-column: 1 / -1;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}

#plan-ramowy .scene-name {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#plan-ramowy .timeslot {
    grid-column: 1;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#plan-ramowy .scene {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#plan-ramowy .event {
    background: var(--bg-color);
    color: var(--text-color);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
